@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SBL_Hbrw';
  font-style: normal;
  font-weight: 400;
  src: local('SBL_Hbrw'), url('/SBL_Hbrw.ttf') format('truetype');
}

@font-face {
  font-family: 'Mekorot-Rashi';
  font-style: normal;
  font-weight: 400;
  src: local('Mekorot-Rashi'), url('/Mekorot-Rashi.ttf') format('truetype');
}

.parasha {
  margin-top: 10px;
}

.torah,
.targum,
.perek,
.pasuk {
  font-family: 'SBL_Hbrw';
}

.pasuk {
  font-weight: 600;
  font-size: 0.8em;
}

.perek {
  font-weight: 600;
  font-size: 0.9em;
}

.torah {
  font-size: 1.2em;
  font-weight: 400;
}

.targum {
  font-size: 1.1em;
  color: #555555;
}
.dark .targum {
  color: #d1d5db;
}

.targum b {
  font-weight: 400;
}

.font-rashi .rashi {
  font-family: 'Mekorot-Rashi';
}

.rashi {
  font-size: 0.8em;
}

[id^="aliya"] {
  font-family: 'SBL_Hbrw';
  background-color:#d1d5db;
  line-height: 1.2;
  display: inline-block;
  margin-top: -6px;
  scroll-margin-top: 75px;
  padding: 0 4px;
  border-radius: 3px;
  font-size: 1em
}

.dark [id^="aliya"] {
  background-color: #374151
} 

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #6b7280;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* רוחב פס הגלילה */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* צבע פס הגלילה */
  border-radius: 4px; /* פינות מעוגלות */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* צבע פס הגלילה ב-hover */
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; /* צבע הרקע של פס הגלילה */
}

[x-cloak] {
  display: none !important;
}