@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SBL_Hbrw';
  font-style: normal;
  font-weight: 400;
  src: local('SBL_Hbrw'), url('/SBL_Hbrw.ttf') format('truetype');
}

@font-face {
  font-family: 'Mekorot-Rashi';
  font-style: normal;
  font-weight: 400;
  src: local('Mekorot-Rashi'), url('/Mekorot-Rashi.ttf') format('truetype');
}

.parasha {
  margin-top: 10px;
}

.torah,
.targum,
.perek,
.pasuk {
  font-family: 'SBL_Hbrw';
}

.pasuk {
  font-weight: 600;
  font-size: 0.8em;
}

.perek {
  font-weight: 600;
  font-size: 0.9em;
}

.torah {
  font-size: 1.2em;
  font-weight: 400;
}

.targum {
  font-size: 1.1em;
}

.targum b {
  font-weight: 400;
}

.font-rashi .rashi {
  font-family: 'Mekorot-Rashi';
}

.rashi {
  font-size: 0.8em;
}

[id^="aliya"] {
  background: #9ca3af;
  margin-top: -6px;
  scroll-margin-top: 75px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #6b7280;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

[x-cloak] {
  display: none !important;
}